@use 'vars.scss';

.hidden {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    
    label {
        position: relative;
        width: 35%;
        height: 100px;
        padding: 20px;
        margin: 15px;

        @media (orientation: portrait) {
            width: 80%;
        }

        display: block;

        transition: width 1s, height 1s;

        background-color: vars.$fourth;
        border: 1px solid vars.$third;
        border-radius: 10px;

        overflow: hidden;
        text-align: center;
        

        img {
            width: 50px;
            height: auto;
            margin: auto;
        }

        h3 {
            margin-top: 0;
        }

        &:nth-of-type(1) {
            top: 0;
            left: 0;
        }

        &:nth-of-type(2) {
            top: 0;
            right: 0;
        }

        &:nth-of-type(3) {
            bottom: 0;
            left: 0;
        }

        &:nth-of-type(4) {
            bottom: 0;
            right: 0;
        }        
    }



    input[type=checkbox] {
        display: none;  
        &:checked {
            & + label {
                //width: 80%;
                height: 350px;
                z-index: 5;
            }
        }
    }

    
    
    /*
    input[type=checkbox] + label > p {
        display: none;
    }

    
    input[type=checkbox] {
        display: none;
        &:checked {
            & + label p {
                display: initial;
            }
        }
    }
    */

}