@use 'vars.scss';

.tiles {
    ul {
        padding: 0;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        list-style: none;

        li {
            width: 125px;
            height: 125px;
            padding: 25px;
            margin: 5px;


            border-radius: 10px;


            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
        }


        > :nth-child(1) {
            color: white;
            background-color: vars.$first;
        }

        > :nth-child(2) {
            background-color: vars.$second;
        }

        > :nth-child(3) {
            background-color: vars.$third;
        }

        > :nth-child(4) {
            background-color: vars.$fourth;
        }

        > :nth-child(5) {
            background-color: vars.$fifth;
        }

        
    }

}