h1 Denperidge

p Hi, I'm Cat! My programming handle is Denperidge. 

img(alt="Denperidge's GitHub profile picture" src="https://github.com/Denperidge.png?size=160")

ul 
    li I'm a programmer with a background in multimedia.
    li And am an all round a creative person, from Belgium!
    li My pronouns are she/they.
    li 
        span You can find me on #[a(href="https://github.com/Denperidge") GitHub], or contact me through #[a(href="mailto:contact@denperidge.com") e-mail]!

