.hidden.large
    +hidden("bar-chart", "Learning")
        p I'd love to get better at lots of things, so have some of them!
        ul
            
            li Meaningful contributions to open-source projects
            li Improved accessibility (working with WebAIM, aria, screenreaders)
            li Front-end frameworks like React, Angular, Vue.js and Svelte
            li Improving my UX and design skills


    +hidden("ruler-horizontal", "Education")
        h4 Secondary school:
        ul 
            li 2015-2016 - Graphical Media - KTA1 Hasselt
            li 2016-2018 - Informatics/Computer Sciences - KTA1 Hasselt


        h4 College:
        ul
            li 2018-20 - Application Development (unfinished) - Thomas More
            li 2020-22 - Communication & Multimedia (unfinished) - KDG Antwerp
