// Based of https://stackoverflow.com/a/32721572
mixin hidden()
    - let id="test"
    input(type="checkbox" id=`${id}`)

    label(for=`${id}`)
        h3 Accessibility
        p Contrast checking, semantic HTML, pausable animations. Everything and everyone should strive to include as many people as possible. No birth condition or life-changing accident should prohibit people from doing what they love, let alone must.
+hidden()