doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Denperidge's resume
        link(rel="stylesheet", href="stylesheet.scss")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Libre+Bodoni&family=Tiro+Tamil:ital@0;1&display=swap" rel="stylesheet") 
    body
        main
            include mixins/past
            include mixins/skillbar
            include mixins/hidden

            section#about(class="tiles")
                p I created this website to function as my resume. So, what can you expect from hiring me?
                include content/about
            
            section#eye
                h2 An eye for...
                include content/eyeFor

            section#projects
                h2 Projects
                p Check out my #[a(href="https://projects.denperidge.com/") Projects] page for my own projects and some open source contributions!
                p.
                    (Oh, and I didn't know where else to put this in the website, but I wanted to mention that I intended to prove my point in performance and inventiveness.
                    So to showcase this: no unnecessary JavaScript is used in this website. That is to say, no JavaScript is used at all!)

            section#experience
                h2 Work experience
                +past(pastEmployments)
            
        
            section#programming-languages
                h2 Programming languages 
                +skillbar(languages, 'programming')
            
            section#skillsets 
                h2 Skillsets
                +skillbar(skillsets, 'tools')
            
            section#workskills(class="tiles")
                include:markdown-it content/workskills.md


            section#learning
                h2 Knowing new things?
                include content/learning.pug


        footer
            include:markdown-it content/footer.md

