doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Denperidge's resume
        link(rel="stylesheet", href="stylesheet.scss")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Libre+Bodoni&family=Tiro+Tamil:ital@0;1&display=swap" rel="stylesheet") 
    body
        main
            include mixins/past
            include mixins/skillbar

            section#about(class="tiles")
                p I created this website to function as my resume. So, what can you expect from hiring me?

                include:markdown-it content/about.md
            
            section#eye
                h2 An eye for...
                include:markdown-it content/eye.md

            section#experience
                h2 Work experience 
                +past(pastEmployments)
            
        
            section#programming-languages
                h2 Programming languages 
                +skillbar(languages, 'programming')
            
            section#skillsets 
                h2 Skillsets
                +skillbar(skillsets, 'tools')
            
            section#workskills(class="tiles")
                include:markdown-it content/workskills.md


            section#learn 
                h2 Learning
                include:markdown-it content/learn.md


            section#education 
                h2 Education
                include:markdown-it content/education.md


            