doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Denperidge's resume
        //link(rel="stylesheet", href="npm:@picocss/pico")
        link(rel="stylesheet", href="stylesheet.scss")
    body
        main
            p I created this website to function as my resume. So, what can you expect from hiring me?

            include mixins/past
            include mixins/skillbar

            section#about
                include:markdown-it content/about.md
            
            // Things I have an eye for
            section#eye
                h2 An eye for...
                include:markdown-it content/eye.md
            
            // General work skills
            section#workskills
                //h2 Work skills
            
            // Experience 
            section#experience
                h2 Work experience 
                +past(pastEmployments)
            
        
            
            // Programming
            section#programming-languages
                h2 Programming languages 
                +skillbar(languages, 'programming')
            
            section#skillsets 
                h2 Skillsets
                +skillbar(skillsets, 'tools')


            section#learn 
                h2 Learning
                include:markdown-it content/learn.md


            section#education 
                h2 Education
                include:markdown-it content/education.md


            