@use 'styles/vars.scss';
@use 'styles/skillbar.scss';
@use 'styles/tiles.scss';


body {
    padding-top: 15px;
}

main {
    $sidepadding: 50px;
    width: calc(75% - $sidepadding);
    margin: auto;
    padding: 7.5px $sidepadding;

    font-family: 'Tiro Tamil', serif, system-ui, -apple-system;

    background-color: #fbfbfb;
    box-shadow: 10px 0px 20px vars.$first, -10px -10px 20px vars.$first;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Bodoni', serif, system-ui, -apple-system;
}

#about {
    text-align: center;
}

@media print {
    body {
        padding: 0;
    }
    main {
        box-shadow: none;
        width: 100vw;
    }
}